<div>
    <div class="row">
        <div class="text-center">
            <h2 class="my-3" *ngIf="isAddMode">Add Duration</h2>
            <h2 class="my-3" *ngIf="!isAddMode">Edit Duration</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <form [formGroup]="durationForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="durationTime"></label>
                    <input type="text" formControlName="durationTime" class="form-control" id="durationTime" placeholder="Enter durationTime"
                        value="durationTime">
                    <div *ngIf="durationTime!==null">
                        <div *ngIf="durationTime.invalid && (durationTime.dirty || durationTime.touched)" class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="durationTime.errors?.['required']">
                                durationTime is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary my-4 ms-5" 
                    [ngClass]="{disabled : durationForm.invalid}">add-edit</button>
                </div>
            </form>
        </div>
    </div>
</div>