<div>
    <div class="row d-flex flex-column">
        <div class="col">
            <div class="imgBox">
                <img src="../../assets/Images/food2.jpg">
            </div>
        </div>
        <div class="col contentBox d-flex flex-column justify-content-around align-items-center">
            <h2 class="mt-4">ABOUT US</h2>
            <!-- <hr /> -->
            <p class="px-4 p1">
                Online Tiffin Service for Who Lives in Ahmedabad. Some Student who lives in Ahmedabad face issues
                regarding food. Our motive is Provide Reasonable and Good Quality Food.
            </p>
            <p class="px-4 p2">To me, food is as much about the moment, the occasion, the location and the company as
                it is about the taste.</p>
            <button class="btn btn-light explore" routerLink="../menu">Explore</button>
        </div>
        <div class="text-center my-5">
            <h1 class="my-4">What We Provide</h1>
            <hr class="w-25 mx-auto">
        </div>
        <div class="col text">
            <p class="mx-5 my-4">One can't Live well if one hasn't Dined well!
                This is our mantra at E-Tiffin.
            </p>
            <p class="mx-5 my-4">
                We bring you healthy and balanced meals, with a dash of fun and a sprinkle of deliciousness for a
                healthier and happier You!
            </p>
            <p class="mx-5 my-4">
                We Provide Wide Range of Food and Multiple Restaurant to choose.
            </p>
            <p class="mx-5 my-4">
                Our motive is provide Healthy and happy meal to customers.
            </p>
        </div>
        <div class="text-center my-5">
            <h1 class="my-4">Our process</h1>
            <hr class="w-25 mx-auto">
        </div>
        <div class="col  mt-4 mb-5 aboutcard">
            <div>
                <div class="card m-3 shadow" style="width: 18rem;height: 18rem;">
                    <img src="../../assets/Images/logincard.jpg" class="card-img-top" alt=""
                        style="width: 17rem;height: 13rem;">
                    <div class="card-body">
                        <p class="card-text p-3">Log On to E-Tiffin.in and Go for Order-Tiffin.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card m-3 shadow" style="width: 18rem;height: 18rem;">
                    <img src="../../assets/Images/plan1.png" class="card-img-top mt-5 ms-5" alt=""
                        style="width: 12rem;height: 10rem;">
                    <div class="card-body">
                        <p class="card-text p-3">Select You Plan According to Your Choice.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card m-3 shadow" style="width: 18rem;height: 18rem;">
                    <img src="../../assets/Images/cook.jpg" class="card-img-top mt-5 ms-5" alt=""
                        style="width: 12rem;height: 10rem;">
                    <div class="card-body">
                        <p class="card-text p-3">Your Food Is Made By Certified chef.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card m-3 shadow" style="width: 18rem;height: 18rem;">
                    <img src="../../assets/Images/delivery.jpg" class="card-img-top mt-5" alt=""
                        style="width: 17.9rem;height: 10rem;">
                    <div class="card-body">
                        <p class="card-text p-3">Tiffin is Delivered by Our deliveryBoy to Your Doorstep.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>