<section  style="position: sticky;top: 0;z-index: 100;">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="aboutus">About-Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="menu">Explore</a>
            </li>
            <li class="nav-item me-5" *ngIf="isUser">
              <a class="nav-link " routerLink="ordertiffin">Order-Tiffin</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link " routerLink="login">Login</a>
            </li> -->
            <!-- <li class="nav-item me-4">
              <a class="nav-link " routerLink="admin">Admin</a>
            </li> -->
            <li class="nav-item dropdown" *ngIf="isLogin">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../assets/Images/profile1.png" width="30" height="30" class="rounded-circle">
              </a>
              <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li *ngIf="isUser"><a class="dropdown-item" routerLink="userdetails">Profile</a></li>
                <li *ngIf="!isUser"><a class="dropdown-item" routerLink="userdetails">Dashboard</a></li>
                <li><a class="dropdown-item" routerLink="login" (click)="logout()">LogOut</a></li>
              </ul>
            </li>
          </ul>
          <!-- <form class="d-flex"> -->
          <div *ngIf="!isLogin">
            <button class="btn btn-outline-secondary" type="button" routerLink="login">Login</button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </nav>
  </header>
</section>
<section>
  <content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </content>
</section>
<section>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- <div style="font-size:15px;color:red">
        <fa-icon [icon]="angular" size="xs"></fa-icon>
      </div> -->

      <!-- Right -->
      <div class="social">
        <a href="#" class="me-4 text-reset facebook">
          <fa-icon [icon]="facebook"></fa-icon>
        </a>
        <a href="#" class="me-4 text-reset twitter">
          <fa-icon [icon]="twitter"></fa-icon>
        </a>
        <a href="#" class="me-4 text-reset google">
          <fa-icon [icon]="google"></fa-icon>
        </a>
        <a href="#" class="me-4 text-reset instagram">
          <fa-icon [icon]="instagram"></fa-icon>
        </a>
        <a href="#" class="me-4 text-reset linkedin">
          <fa-icon [icon]="linkedin"></fa-icon>
        </a>
        <a href="#" class="me-4 text-reset github">
          <fa-icon [icon]="github"></fa-icon>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 text-center mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <fa-icon [icon]="gem" size="lg" class="me-2"></fa-icon>
              E-Tiffin
            </h6>
            <p>
              Online Tiffin Service.
            </p>
            <p>
              Who live Local in Ahmedabad. A Greate Solution for Who is Looking for Some Good Quality Food at Reasonable
              Price.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 usefullinks">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#" class="text-reset">Menu</a>
            </p>
            <p>
              <a href="#" class="text-reset">Order-Tiffin</a>
            </p>
            <p>
              <a href="#" class="text-reset">About-Us</a>
            </p>
            <p>
              <a href="#" class="text-reset">Contact-Us</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p>
              <fa-icon [icon]="home" class="me-2"></fa-icon> Gujarat, India
            </p>
            <p>
              <fa-icon [icon]="envelop" class="me-2"></fa-icon>
              e_tiffin@gmail.com
            </p>
            <p>
              <fa-icon [icon]="phone" class="me-2"></fa-icon> +91 9876543210
            </p>
            <p>
              <fa-icon [icon]="whatsapp" class="me-2"></fa-icon> +91 9876543210
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">E-Tiffin.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</section>