<div class="row">
    <div class="col-2">
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="arealist">Area</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="cancellationstatuslist">CancellationStatus</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="contactinfolist">ContactInfo</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="deliveryboylist">DeliveryBoy</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="deliverychargeslist">DeliveryCharges</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="deliverystatuslist">DeliveryStatus</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="durationlist">Duration</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="foodlist">Food</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="foodtypelist">FoodType</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="intervallist">Interval</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="mealchargeslist">MealCharges</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="menulist">Menu</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="userlist">User</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="orderdetailslist">OrderDetails</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="ratingslist">Ratings</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="restaurantlist">Restaurants</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="weekdayslist">WeekDays</a>
        </div>
        <hr>
        <div class="col p-2 ms-2">
            <a class="nav-link" routerLink="analysis">Analysis</a>
        </div>
        <hr>
    </div>

    <!-- <div class="col-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </div> -->
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>