<div class="container">
    <div class="row">
        <div class="text-center ">
            <h2 class="my-3">Ratings-List</h2>
            <button class="btn btn-outline-success mb-4 px-4 me-4" routerLink="../addeditratings">add</button>

        </div>
        <div class="col">
            <div class="table-responsive">
                <div class="mb-2 ms-auto w-25">
                    <input class="form-control" type="text" name="searchres" [(ngModel)]="searchRating" autocomplete="off"
                        placeholder="Search">
                </div>
                <table class="table table-bordered text-center mb-5">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>UserId</th>
                            <th>Restaurant</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let rating of ratingsList | filter : searchRating | paginate : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                        } ; let i=index">
                        <tr>
                            <td>{{(page-1)*pageSize+(i+1)}}</td>
                            <td>{{rating.userId}}</td>
                            <td>{{rating.restaurantName}}</td>
                            <td>{{rating.rating1}}</td>
                            <td><button type="button" class="btn btn-outline-primary"
                                    routerLink="../addeditratings/{{rating.ratindId}}">edit</button></td>
                            <td><button type="button" class="btn btn-outline-danger" value={{rating.ratindId}}
                                    (click)="deleteRatings($event)">remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>