<div class="container">
    <div class="row d-flex mt-4 gx-5">
        <div class="col p-4 shadow m-3">
            <h5>Orders Between This Dates : </h5>
            <hr>
            <div class="form-group">
                <div>
                    <label class="form-label" for="startdate">Start Date : </label>
                    <input type="date" id="startdate" class="form-control" name="startdate" 
                    [(ngModel)]=startdate>
                </div>
            </div>
            <div class="form-group mt-2">
                <div>
                    <label class="form-label" for="enddate">End Date : </label>
                    <input type="date" id="enddate" class="form-control" name="enddate" 
                    [(ngModel)]=enddate>
                </div>
            </div>
            <!-- <hr> -->
            <div class="mt-4 text-center">
                <button class="btn btn-outline-secondary" (click)="getOrders()">Get Orders</button>
            </div>
        </div>
        <div class="col p-4 shadow m-3">
            <h5>Orders Of The Month : </h5>
            <hr>
            <div class="form-group">
                <div>
                    <label class="form-label" for="month">Month : </label>
                    <input type="number" id="month" class="form-control" name="month" 
                    [(ngModel)]=month>
                </div>
            </div>
            <div class="form-group mt-2">
                <div>
                    <label class="form-label" for="year">Year : </label>
                    <input type="number" id="year" class="form-control" name="year" 
                    [(ngModel)]=year>
                </div>
            </div>
            <!-- <hr> -->
            <div class="mt-4 text-center">
                <button class="btn btn-outline-secondary" (click)="getOrderOfTheMonth()">Get Orders</button>
            </div>
        </div>
        <div class="col p-4 shadow m-3">
            <h5>Revenue Between This Dates : </h5>
            <hr>
            <div class="form-group">
                <div>
                    <label class="form-label" for="startdate">Start Date : </label>
                    <input type="date" id="startdate" class="form-control" name="startdate" 
                    [(ngModel)]=startdate>
                </div>
            </div>
            <div class="form-group mt-2">
                <div>
                    <label class="form-label" for="enddate">End Date : </label>
                    <input type="date" id="enddate" class="form-control" name="enddate" 
                    [(ngModel)]=enddate>
                </div>
            </div>
            <hr>
            <div class="mt-3">
                <button class="btn btn-outline-secondary ms-4" (click)="getRevenue()">Get Revenue</button>
                <span class="ms-4">Revenue : &#8377; {{revenue}}</span>
            </div>
        </div>
        
    </div>
    <div class="mt-4">
        <button class="btn btn-outline-secondary" (click)="getTotalRevenue()">
            Get TotalRevenue
        </button>
        <span class="ms-5 fs-5">Total Revenue : &#8377; {{totalRevenue}}</span>
    </div>
    <div class="row">
        <div class="col mt-5">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-5">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>UserId</th>
                            <th>Interval</th>
                            <th>Type</th>
                            <th>DurationTime</th>
                            <th>OrderPlaceDate</th>
                            <th>OrderDate</th>
                            <th>Area</th>
                            <th>Address</th>
                            <th>Charge</th>
                            <th>Restaurant</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let order of orderList;let i=index">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{order.userId}}</td>
                            <td>{{order.intervalName}}</td>
                            <td>{{order.typeName}}</td>
                            <td>{{order.durationTime}}</td>
                            <td>{{order.orderPlaceDate | date:'dd/MM/yyyy'}}</td>
                            <td class="text-nowrap">{{order.orderDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{order.areaName}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.totalCharge}}</td>
                            <td>{{order.restaurantName}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>