<div>
    <div class="row">
        <div class="text-center">
            <h2 class="my-3" *ngIf="isAddMode">Add CancellationStatus</h2>
            <h2 class="my-3" *ngIf="!isAddMode">Edit CancellationStatus</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <form [formGroup]="cancellationStatusForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <select class="form-select" id="orderId" formControlName="orderId">
                        <option>Please Select OrderId</option>
                        <ng-container *ngFor="let order of orderList">     
                            <option value={{order.orderId}}>{{order.orderId}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cancellationDate"></label>
                    <input type="datetime-local" formControlName="cancellationDate" class="form-control" id="cancellationDate"
                        placeholder="Enter cancellationDate" value="cancellationDate">
                    <div *ngIf="cancellationDate!==null">
                        <div *ngIf="cancellationDate.invalid && (cancellationDate.dirty ||                   cancellationDate.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="cancellationDate.errors?.['required']">
                                cancellationDate is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="intervalId"></label>
                    <select class="form-select" id="intervalId" formControlName="intervalId">
                        <option>Please Select Interval</option>
                        <ng-container *ngFor="let interval of intervalList">
                            <option value={{interval.intervalId}}>{{interval.intervalName}}</option>
                        </ng-container>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary my-4 ms-5"
                        [ngClass]="{disabled : cancellationStatusForm.invalid}">add-update</button>
                </div>
            </form>
        </div>
    </div>
</div>